
<div class="card mt-3">
    <div class="card-body">
        <div class="row">
            <div class="col-10">
                {{dane.name}}
            </div>
            <div class="col-2 ">
                <span class="btn btn-success ms-1" (click)="edit(dane.id)"><i class="bi bi-pen"></i></span> 
                <span class="btn btn-danger ms-1" (click)="removesel(dane.id)" data-bs-toggle="modal" data-bs-target="#removeModal"><i class="bi bi-trash"></i></span> 
                <span [ngClass]="{btn:true, 'btn-primary':!status(), 'btn-danger':status(), 'ms-1':true}" (click)="statusChange()"><i [ngClass]="{bi:true, 'bi-play-circle':!status(), 'bi-pause-circle':status()}"></i></span>
            </div>
        </div>
    </div>
  </div>

